.hero{
  min-height: unset;
  position: relative;
  margin-top: -90px;
}

/* Banner alanı */
.hero-bg{
  position: relative;
  height: 800px; 
  background-image: url("../İmages/arkaplan1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  
}
.hero-bg::after{
  content: "";
  position: absolute;
  left: 0; 
  right: 0; 
  bottom: 0;
  height: 40px;   
  background: linear-gradient(to bottom, rgba(255,255,255,0), #fff);
  pointer-events: none;
}


.hero-blur{
  position: relative;
  min-height: 320px;   /* kısa banner gibi dursun */
  overflow: hidden;
}

/* arka planı biraz karartıyoruz */
.hero-blur::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);  /* koyuluk */
  z-index: 1;
}

/* blur efekti */
.hero-blur::after{
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 2;
}
.card {
   margin-top: -500px;
   position: relative;
   z-index: 5;
   width: 400px;
   height: 400px;
   border-radius: 50px ;
   overflow: hidden;
   border: 5px solid rgba(162, 173, 109);
}
.card-h1 {
    margin-top: -500px;
   position: relative;
   z-index: 5;
   background: #fff;
   overflow: hidden;
   border: 5px solid rgba(162, 173, 109);
   border-radius: 50px;
}
.text-box{
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-box h2{
  font-size: 42px;     
  line-height: 1.1;
  margin: 0 0 12px;
  color: #1f3f1b;
}
.text-box h2::after{
  content:"";
  display:block;
  width: 70px;
  height: 3px;
  background: rgba(31,63,27,0.35);
  margin-top: 14px;
  border-radius: 999px;
}
.text-box p{
  margin: 0;
  color: #2e5b2a;
  font-size: 18px;
  line-height: 1.6;
  max-width: 420px;      
}
/* Gelecek Hayalim yazı kartı animasyonu */
.gh-text-card {
  opacity: 0;
  transform: translateX(-550px);
  animation: slideInLeft 2s ease-out forwards;
  animation-delay: 0.25s;
}

/* Animasyon tanımı */
@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}





