body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Playfair Display", serif;
}
.navbar{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);    
}
.hero-section {
    position: relative;
    width: 100%;
}
.hero-banner-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 56px;
}
.hero-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
/* Mobil uyumlulıuk için */
@media (max-width: 992px) {
    .hero-banner-img {
        height: 200px;
        margin-top: -56px;
    }
}
